<p-toast></p-toast>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="ui-g">
    <div class="ui-g-12">
        <h1>Clientes</h1>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-tabView class= "Table" (onChange)="onTabChange($event)"  [activeIndex]="index">
            <p-tabPanel header="Procurar Cliente :" leftIcon="pi pi-search"  >
                <div class="container">
                    <form #f="ngForm" autocomplete="off" (ngSubmit)="pesquisar()">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-9 ui-fluid">
                              <label>Nome do Cliente :</label>
                              <input pInputText type="text" name="descricao"  [(ngModel)]="nomeBusca">
                            </div>
                            <div class="ui-g-12">
                                <button pButton type="submit" label="Pesquisar"></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-table [value]="clientes" [paginator]="true" [rows]="10" [responsive]="true">
                            <ng-template pTemplate="header" >
                                <tr>
                                  <th class="cli-id-header">ID</th>
                                  <th>Nome</th>
                                  <th>Tipo</th>
                                  <th>Sexo</th>
                                  <th>Idade</th>
                                  <th>Livros</th>
                                  <th class="col-acoes">Ações</th>
                                </tr>
                             </ng-template>

                             <ng-template pTemplate="body" let-cli>
                                <tr>
                                  <td class="col-id">{{cli.id}}</td>
                                  <td>{{cli.nome}}</td>
                                  <td>{{cli.tipo}}</td>
                                  <td>{{cli.sexo}}</td>
                                  <td>{{cli.idade}}</td>
                                  <td>{{cli.alugou}}</td>
                                  <td class="col-acoes">
                                      <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" showDelay="500"  class="ui-button-info" (click)="OpenCadastro(cli.id)"></button>
                                      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" showDelay="500"  class="ui-button-info" (click)="ConfirmarExclusao(cli)"></button>
                                  </td>
                                </tr>
                              </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Cadastrar Cliente" leftIcon="pi pi-plus">
                <div class="container">
                    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-9 ui-fluid">

                                <label>Nome :</label>
                                <input pInputText type="text" name="nome"
                                  [(ngModel)]="cliente.nome"
                                  pattern="[a-zA-Z]+"
                                  #nome="ngModel" required minlength="3">

                                <div *ngIf="nome.hasError('required') && nome.touched">Escreva o nome do cliente</div>
                                <div *ngIf="nome.hasError('pattern')" >O nome só pode conter letras do alfabeto</div>
                                <div *ngIf="nome.hasError('minlength')" >O nome deve ter no mínimo 3 letras</div>

                                <label>Tipo :</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-6"><p-radioButton name="grupo1" [(ngModel)]="cliente.tipo" value="Aluno" label="Aluno" [(ngModel)]="val1" inputId="preopt1"></p-radioButton></div>
                                    <div class="ui-g-6"><p-radioButton name="grupo1" [(ngModel)]="cliente.tipo" value="Professor" label="Professor" [(ngModel)]="val2" inputId="preopt2"></p-radioButton></div>
                                </div>

                                <label>Sexo :</label>
                                <div class="ui-g" style="width:250px;margin-bottom:10px">
                                    <div class="ui-g-6"><p-radioButton name="grupo2" [(ngModel)]="cliente.sexo" value="Masculino" label="Masculino" [(ngModel)]="val3" inputId="preopt1"></p-radioButton></div>
                                    <div class="ui-g-6"><p-radioButton name="grupo2" [(ngModel)]="cliente.sexo" value="Feminino" label="Feminino" [(ngModel)]="val4" inputId="preopt2"></p-radioButton></div>
                                </div>

                                <label>Idade :</label>
                                <input pInputText type="text" name="idade"
                                  [(ngModel)]="cliente.idade"
                                  pattern="[0-9]+"
                                  #nome="ngModel" required maxlength="3">

                                <div *ngIf="nome.hasError('required') && nome.touched">Qual a idade da pessoa ?</div>
                                <div *ngIf="nome.hasError('pattern')" >A idade só pode conter números</div>
                                <div *ngIf="nome.hasError('maxlength')" >Limite máximo de 3 digitos para identificar a idade</div>

                            </div>
                            <div class="ui-g-12">
                                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" ></button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
