<p-toast></p-toast>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="ui-g">
    <div class="ui-g-10">
        <h1>  Livros</h1>
    </div>
    <div class="ui-g-2">

    </div>
</div>

<div class="ui-g">
    <div class="ui-g-10">
        <p-tabView class= "Table" (onChange)="onTabChange($event)"  [activeIndex]="index">
            <p-tabPanel header="Procurar Livro :" leftIcon="pi pi-search"  >



                <div class="container">
                    <form #f="ngForm" autocomplete="off" (ngSubmit)="pesquisar()">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-9 ui-fluid">
                              <label>Nome do Livro :</label>
                              <input pInputText type="text" name="descricao"  [(ngModel)]="nomeBusca">
                            </div>
                            <div class="ui-g-12">
                                <button pButton type="submit" label="Pesquisar"></button>
                            </div>


                        </div>
                    </form>
                </div>



                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-table [value]="livros" [paginator]="true" [rows]="10" [responsive]="true">
                            <ng-template pTemplate="header" >
                                <tr>
                                  <th class="liv-id-header">ID</th>
                                  <th>Nome</th>
                                  <th>Área</th>
                                  <th>Estoque</th>
                                  <th>Local</th>
                                  <th class="col-acoes">Ações</th>
                                </tr>
                             </ng-template>

                             <ng-template pTemplate="body" let-liv>
                                <tr>
                                  <td class="col-id">{{liv.id}}</td>
                                  <td>{{liv.nome}}</td>
                                  <td>{{liv.area}}</td>
                                  <td>{{liv.estoque}}</td>
                                  <td>{{liv.local}}</td>
                                  <td class="col-acoes">
                                      <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" showDelay="500"  class="ui-button-info" (click)="OpenCadastro(liv.id)"></button>
                                      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" showDelay="500"  class="ui-button-info" (click)="ConfirmarExclusao(liv)"></button>
                                  </td>
                                </tr>
                              </ng-template>
                        </p-table>
                    </div>
                </div>



            </p-tabPanel>
            <p-tabPanel header="Cadastrar Livro" leftIcon="pi pi-plus">




                <div class="container">
                    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar()">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-9 ui-fluid">

                                <label>Nome :</label>
                                <input pInputText type="text" name="nome"
                                  [(ngModel)]="livro.nome"
                                  #nome="ngModel">

                                <div *ngIf="nome.hasError('required') && nome.touched">Escreva o nome do livro</div>

                                <label>Área :</label>

                                <p-dropdown [options]="LivroGroupArea" [(ngModel)]="livro.area" [filter]="true" name="area"></p-dropdown>

                                <label>Estoque :</label>

                                <p-spinner size="30" [(ngModel)]="livro.estoque" [min]="0" name="estoque"></p-spinner>

                                <label>Local :</label><br />

                                <label>Estante - Platileira - Número</label>

                                <p-inputMask [(ngModel)]="livro.local" name="local" mask="99-9-99"></p-inputMask>

                            </div>
                            <div class="ui-g-12">
                                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" ></button>
                            </div>


                        </div>
                    </form>
                </div>



            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="ui-g-2"></div>
</div>



<!--

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>{{editando?'Edicao de ': 'Nova '}} Cliente</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Descrição</label>
              <input pInputText type="text" name="nome"
                [(ngModel)]="cliente.nome"
                #nome="ngModel" required minlength="3">

                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
                <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/clientes"></button>
                <a routerLink="/clientes">Voltar para a pesquisa</a>
            </div>


        </div>
    </form>
</div>

-->
